//colors
$primary-purple: #553d67;
$primary-pink: #f74c73;
$secondary-pink: #f64c72;
$white-color: #ffffff;
$border-color: #bbc8d4;
$neutral-gray: #6d7d8b;

//root font size
$root-font-size: 10px;

//breakpoints
$breakpoint-tab: 899px;
$breakpoint-desktop: 900px;
$breakpoint-wide: 1400px;

//Fonts variable
$Mulish: "Mulish", sans-serif;